<div class="jumbotron site-header">
  <div class="container">
    <h1 class="display-2">The Genre Of The Year</h1>
    <hr>
    <p class="lead">
      As a part of a Digital Humanities project,
      we analyzed people's favorite genres in the last 70 years,
      by looking at "Top 100 Billboards",
      and visualizing the results for you in a cool chart.
    </p>
    <br>
    <div class="row">
      <a class="col-4 btn btn-primary btn-lg" role="button" href="#" id="scroll-btn">Check it out</a>
      <a class="col-4 btn btn-secondary btn-lg"  (click)="getDef()" role="button">What is Digital Humanities?</a>
      <a class="col-4 btn btn-secondary btn-lg" href="./files/genresFiles.zip" role="button">Download the data</a>
    </div>
  </div>
  <div class="container" *ngIf="showDef">
    <br>
    <p class="blockquote def">{{ def }}</p>
    <a class="btn btn-default btn-sm"  (click)="getDef()" role="button">Another definition &raquo;</a>
  </div>
</div>
