<div class="container">
  <div class="row">
    <h1 class="col-4 display-4">The genre of</h1>
    <input class="col-2 form-control" type="number" placeholder="year" [(ngModel)]="year">
    <h1 class="col-1 display-4">is</h1>
    <input class="col-2 form-control" type="text" placeholder="genre name" [(ngModel)]="genre">
  </div>
  <br>
  <!--Div that will hold the dashboard-->
  <div id="dashboard_div" class="row">
    <!--Divs that will hold each control and chart-->
    <div id="filter_div2" class="col-sm-6"></div>
    <div id="filter_div" class="col-sm-6"></div>
    <div id="chart_div" class="row"></div>
  </div>
  <hr>
</div>
